<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>About Page</title>
</head>

<body>
    <section class="hero is-medium is-info">
        <div class="hero-body">
            <p class="title">About Page</p>
            <p class="subtitle">This page accessible by everyone</p>
        </div>
    </section>
</body>

</html>